@using BlazorEntre2Ages.Models
@using BlazorEntre2Ages.Models.Radzen
@using BlazorEntre2Ages.Services
@inject DialogService DialogService
@inject IEventService EventService
@page "/calendar"

<div class="row">
    <div class="col-xl-6">
        <RadzenScheduler @ref=@Scheduler style="height: 768px;" TItem="Appointment" Data="@Appointments" StartProperty="Start" EndProperty="End"
                          TextProperty="Subject" SelectedIndex="2"
                          SlotSelect=@OnSlotSelect AppointmentSelect=@OnAppointmentSelect AppointmentRender=@OnAppointmentRender>
            <RadzenDayView />
            <RadzenWeekView />
            <RadzenMonthView />
        </RadzenScheduler>
    </div>
    <div class="col-xl-6">
        
    </div>
</div>

@code {
    public RadzenScheduler<Appointment> Scheduler;

    public List<Appointment> Appointments;

    protected override async Task OnInitializedAsync()
    {
        var events = await EventService.GetAll();
        foreach (var e in events)
        {
            Appointments.Add(e.ToAppointment());
        }
    }

    async Task OnSlotSelect(SchedulerSlotSelectEventArgs args)
    {
        Appointment data = await DialogService.OpenAsync<AddAppointmentPage>("Add Appointment",
            new Dictionary<string, object>
            {
                { "Start", args.Start },
                { "End", args.End },
                /*{ "Subject", args.Subject },
                {"Guest", args.Guest },
                { "Status", args.Status}*/
            });

        if (data != null)
        {
            Appointments.Add(data);
            // Either call the Reload method or reassign the Data property of the Scheduler
            await Scheduler.Reload();
        }
    }

    async Task OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<Appointment> args)
    {
        await DialogService.OpenAsync<EditAppointmentPage>("Edit Appointment",
            new Dictionary<string, object> { { "Appointment", args.Data } });

        await Scheduler.Reload();
    }

    void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<Appointment> args)
    {
        if (args.Data.Subject == "Birthday")
        {
            args.Attributes["style"] = "background: red";
        }
    }
}